{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} <title>Login</title> {% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}

{% block content %}
<div class="content login container-fluid">
<div class="container py-5 my-5">
  <div class="d-flex justify-content-center align-items-center h-50">
    <div class="shadow rounded-4 border p-5 w-50 bg-white">

{% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>

{% else %}
    <h3 >LOGIN</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-center">
        <button class="btn btn-success w-100" type="submit">Entrar</button>
      </div>
    </form>
{% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}
