:root{
    --main-color: #3db96a;
    --dark-color: #346144;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;    
}

body .content{
    flex: 1 1 0;
}

.login {
    background-color: var(--dark-color);
}

.navbar {
    background-color: var(--main-color);
}

.footer {
    background-color: var(--main-color);
}