{%extends 'base.html'%}
{%load static%}

{%block title%}
<title>{{product.name}}</title>
{%endblock%}

{%block content%}
<div class="content container-fluid">
<div class="container">
  <div class="col-md-12 mx-auto my-3 border rounded-4 shadow">
      <div class="h2 p-3 ms-3">{{product.name}}</div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 mx-auto my-3 border rounded-4 shadow">
      <div class="p-3 d-flex justify-content-center">
        <img src="{% static 'img/placeholder-img.png'%}" alt="image" style="width: 20rem;">
      </div>
    </div>
    
    <div class="col-md-5 mx-auto my-3 border rounded-4 shadow">
      <div class="h3 pt-3 ps-3">Descrição</div>
      <div class="mx-3 fs-4">{{product.description}}</div>
      <div class="p-3 fs-4">Por apenas 
        <span class="text-danger fw-bold fs-3">R${{product.price}}</span></div>
      <div class="lead mx-3 pb-3">{{product.stock_quantity}} unidades em estoque.</div>
    </div>

  </div>
</div>
</div>
{%endblock%}
