{%extends 'base.html'%}

{%block title%}
<title>Produtos</title>
{%endblock%}

{%block content%}
<div class="container">
  <div class="col-md-12 mx-auto my-3 border rounded-4 shadow">
      <div class="text-center h2 p-3 ">
          Lista de Produtos
      </div>
  </div>
  <div class="col-md-12 mx-auto my-3 border rounded-4 shadow">
    <div class="p-3">
      <div class="text-end pb-3">
        <a class="btn btn-success" href="{% url 'product-create'%}">Cadastrar Produto</a>
      </div>

      <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-secondary">
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço (R$)</th>
            <th>Qnt. Estoque</th>
            <th>Categoria</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {%for el in products%}
          <tr>
            <th>
              <a href="{% url 'product-detail' el.pk %}">{{el.pk}}</a>
            </th>
            <th>{{el.name}}</th>
            <th>{{el.description}}</th>
            <th>{{el.price}}</th>
            <th>{{el.stock_quantity}}</th>
            <th>{{el.category.name}}</th>
            <th>
              <a class="btn btn-secondary" href="{% url 'product-update' el.pk %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'product-delete' el.pk %}">Excluir</a>
            </th>
          </tr>
          {%empty%}
          <tr>
            <th colspan="7">Não há produtos registrados.</th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      </div>
      
    </div>
  </div>
</div>
{%endblock%}
